
body {
    background-color: #FDF9D4;
    font-family: 'Itim', sans-serif;
    color: #494949;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Miltonian Tattoo', serif;
    font-size: 5rem;
}

h4 {

        background-color: #25389B;
        color: white;
        width: fit-content;
        padding: 2rem 3rem;
        border-radius: 15px;
        margin: 0.5rem;
        transition: background-color 0.3s ease;
        font-family: 'Miltonian Tattoo', serif;
        font-size: 1.5rem;

}

h4:hover {
    background-color: #4b64c0; 
}

p {
    font-size: 2.5rem;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-container a {
    margin: 0 20px;
    text-decoration: none;
}
