
@import url('https://fonts.googleapis.com/css2?family=Kalnia&family=Montserrat&display=swap');
@import url('dinosaur.css');
@import url('pokemon.css');
@import url('space.css');


body {
  background-color: rgb(241, 243, 239);
  font-family: 'Montserrat', sans-serif;
}

.container {
  margin: 0 auto;
  width: 800px;
}

h1 {
  text-align: center;
  font-family: 'Kalnia', cursive;
}

.MusicButton{
  position: absolute;
     top: 0;
     left: 0;
     right:10;
     width: 10
 }

 
