<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <title>Story {{ story_id }}</title> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='story.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Miltonian&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Itim' rel='stylesheet'>
</head>
<body>
    <div class="container">
      <h1>{{ story[0] }}</h1>
      {% if story %}
        <p>{{ story[1] }}</p>
      {% else %}
        <p>Story not found</p>
      {% endif %}
      <img src="/static/images/book.png" alt="book" id="book">
      <a style= "text-decoration: none;" href="/saved/1">
        <h4>Save this story </h4>
      </a>
      
    </div>
</body>
</html>
